body {
	background-color: grey;
}

caption {
  color: white;
  background: hsl(13, 96%, 39%);
  font-size: 1.5em;
  box-shadow: .1em .1em .1em 0 hsl(0, 0, 50%);
  padding: .2em .2em .2em 2em;
  width: 30em;
  margin-left: -.6em;
  position: relative;
}

.p-con1 {
	margin: 0 auto;
	border: 1px solid silver;
	height: 154px
}

.p-con1 div {
	display: inline-block;
}

.bit1 {
	border: 1px solid silver;
	height: 150px;
	width: 99%;
}

.p-con {
	margin: 0 auto;
	border: 1px solid silver;
}

.p-con div {
	display: inline-block;
}

.bit {
	border: 1px solid silver;
	height: 150px;
	width: 180px;
}
